body {
    margin: 42px;
    font-family: "Montserrat", sans-serif;
    color: gray;
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}