.timer-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        display: flex;
        justify-content: center;
        align-items: center;
        color: darkgray;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1.5px solid darkgray;
        background-color: transparent;
        font-size: 2em;
        font-weight: 500;
        text-align: center;
    }
}